body{
    background-color: rgb(25, 25, 25);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  .title{
    font-size: 30px;
    font-weight: bold;
  }
  .icon-button{
    height: 50px;
    width: 50px;
  }
  .move-button{
    border-radius: 150px;
    height: 120px;
    width: 120px;
    background-color: transparent;
    border: 2px solid white;
    cursor: pointer;
  }
  .result{
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
  }
  .score{
    margin-top: 60px;
  }
  .reset-score-button{
    background-color: white;
    border: none;
    font-size: 15px;
    padding: 8px 15px;
    cursor: pointer;
  }