.toggle-button{
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: rgb(230, 230, 230);
    color: black;
    cursor: pointer;
  }

  .toggle-button-1{
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: rgb(230, 230, 230);
    color: black;
    cursor: pointer;
  }
  
  .toggle-button-2{
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: rgb(230, 230, 230);
    color: black;
    cursor: pointer;
  }

  .is-toggled{
    background-color: black;
    color: white;
  }