body{
    background-color: cyan;
}
button:hover{
    color: yellow;
    background-color: lightgreen;
}
button:active{
    background-color: red;
}
button{
    border-radius: 15px;
}
select{
    background-color: black;
    color: blue;
}
p{
    background-color: orange;
}